body {
    margin: 0;
    padding: 0;
    color: #373A55;
    font-family: 'Open Sans', sans-serif;
}

a, button {
    cursor: pointer;
    outline: none;
}

input { outline: none; }

.white { color: #FFFFFF; }
.blue { color: #293b85; }
.red { color: #C03018; }
.backBlue {  background-color: #293b85; }
.backRed { background-color: #C03018; }

.container {
    width: 1140px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.headBlock {
    height: 194px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.headBlock h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    max-width: 400px;
    margin-right: 9.5%;
    margin-left: 20px;
    text-transform: uppercase;
}

.topBlock {
    margin: auto auto 0 auto;
}

.logo {
    display: block;
    height: 66px;
    width: 66px;
    background: url(/web/img/logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.phone {
    display: flex;
    flex-flow: column;
    font-size: 28px;
    font-weight: 600;
    padding-right: 26px;
    position: relative;
    margin: auto 3.5% auto 0;
}

.phone small {
    font-size: 16px;
    font-weight: 300;
    text-align: right;
}

.phone:before {
    position: absolute;
    content: "";
    background-color: #c03018;
    background-image: url(/web/img/phone.png);
    background-repeat: no-repeat;
    background-position: 55% 40%;
    background-size: 22px 26px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    left: -56px;
}

.lang {
    display: flex;
    margin: auto auto auto 0;
}

.lang span {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 4px;
    cursor: pointer;
}

.scBlock {
    display: flex;
}

.scBlock span {
    height: 34px;
    width: 34px;
    background-repeat: no-repeat;
    display: block;
    margin: auto 0 auto 30px;
}

span.search {
    background-image: url(/web/img/search.png);
    background-size: contain;
}

span.cabinet {
    border-radius: 50%;
    background-image: url(/web/img/person.png);
    background-size: 45%;
    background-position: center;
}

.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    height: 72px;
    margin: auto 0 0 0;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    position: relative;
    width: 100%;
}

.navigation li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74px;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
}

banner {
    height: 680px;
    width: 100%;
    display: block;
    background: #FFFFFF;
}

.swiperBanner {
    flex-flow: column;
    text-align: left;
    justify-content: center;
    align-items: baseline;    
}

.swiperBanner h3 {
    width: 50%;
    font-size: 33px;
    color: #293b85;
    font-weight: bold;
    line-height: 1.212;
    margin: 20px 0;
}

.swiperBanner p {
    width: 50%;
    font-size: 20px;
    color: #2a2d32;
    line-height: 1.5;
    margin: 10px 0;
}

.swiperBanner a {
    margin-top: 30px;
}

.swiperBox {
    position: relative;
}

.swiper-button-next, .swiper-button-prev {
    background-image: url(/web/img/chevronGrey.svg);
    width: 35px;
    height: 35px;
    background-color: transparent;
    left: auto;
    right: calc(50% - 570px);
    bottom: 20px;
    top: auto;
    border: 3px solid #D5D5D5;
    transition: all 0.3s;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    background-image: url(/web/img/chevron.svg);
    border: 3px solid #ff0000;
    background-color: #ff0000;
}

 .swiper-button-prev {
    right: calc(50% - 500px);
    transform: scale(-1, 1);
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 20px;
    left: calc(50% - 570px);
    width: 100%;
    text-align: left;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 0;
    background: #d5d5d5;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: transparent;
    border: 4px solid #d5d5d5;
    height: 10px;
    width: 10px;
}

.swiper-container {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
    }
.swiper-slide {
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      margin: 0 auto;
      font-size: 18px;
      background: transparent;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }



footer {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #7b7b7b 50%, #3b3b3b 50%);
}

.half {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 44px 0;
}

.half h2 {
    display: inline-block;
    width: 60%;
    margin: 0 auto 0 20px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.half p {
    font-size: 14px;
    font-weight: bold;
    word-break: break-word;
    width: 80%;
    margin: 30px 0 0 0;
}

.bottomList {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    margin-left: 60px;
}

.bottomList li {
    margin: 10px 0;
    font-size: 17px;
    width: auto;
    min-width: 45%;
    list-style: none;
    display: block;
}
.bottomList li::before {
  content: "\2022"; 
  color: #3075b6; 
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
}

.bottomBlock {
    background: #212327;
    height: 60px;
    width: 100%;
    align-items: center;
    display: flex;
}

.bottomBox {
    display: flex;
    justify-content: space-between;
}

.bottomBox a {
    display: block;
    margin: auto 0;
    width: auto;
    color: #6d6d6d;
    font-size: 14px;
}

.studio {
    background-image: url(/web/img/foxis.png);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    width: 66px;
    height: 24px;
    display: inline-block;
    margin-left: 6px;
}


/* ************* 
// Main Page //
************ */


.greyBack {
    background: #F8F8F8; 
    width: 100%;
    height: auto;
    padding: 40px 0;
}

.whiteBack {
    background: #FFFFFF; 
    width: 100%;
    height: auto;
}

.headNews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.headNews h2 {
    display: block;
    margin: 0;
    font-weight: 500;
    width: auto;
    font-size: 46px;
}

.redButton, .blueButton, .whiteButton {
    position: relative;
    border: 0;
    outline: 0;
    text-decoration: none;
    line-height: 20px;
    font-size: 18px;
}

.redButton::after, .blueButton::after, .whiteButton::after {
    content: '';
    background-size: contain;
    background-repeat: no-repeat;    
    position: absolute;
    left: auto;
    right: 12px;
}


.redButton {
    text-transform: uppercase;
    padding: 13px 35px 13px 25px;
    background-color: #C03018;
    color: #FFFFFF;
}

.redButton:after {
    background-image: url(/web/img/chevron.svg);
    width: 16px;
    height: 16px;
    top: 14px;
}

.blueButton {
    padding: 11px 33px 11px 23px;
    border: 2px solid #293b85;
    background-color: transparent;
    color: #293b85;
}

.blueButton:after {
    background-image: url(/web/img/chevronBlue.svg);
    width: 14px;
    height: 14px;
    top: 15px;
}

.whiteButton {
    padding: 11px 33px 11px 23px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
}

.whiteButton:after {
    background-image: url(/web/img/chevron.svg);
    width: 14px;
    height: 14px;
    top: 15px;
}

.tabs {
    height: auto;
    min-height: 560px;
    flex-flow: column;
}

.tabsHead {
    display: flex;
    width: 100%;
    margin: 0 0 auto 0;
    padding: 10px 0 20px 0;
}

.tabsHead a {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-right: 50px;
}

.tabsHead a:hover {
    color: #C03018;
}

.newsBlock {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.mainNew {
    width: 50%;
    height: 100%;
    display: block;
    margin: 10px 20px 10px 0;
}

.newsBox {
    width: 50%;
}

.bigPic {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 360px;
}

.mask {
    width: 100%;
    height: 100%;
    background-image: url(/web/uploads/images/mask.png);
    background-size: cover;
    background-position: center center;
    position: relative;
    opacity: 0;
    outline: none;
    transition: all 0.2s;
}

.mask::after {
    content: "";
    background-image: url(/web/uploads/images/eye.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 46%;
    left: 47.5%;
    z-index: 2;
    height: 8%;
    width: 10%;
}

.new:hover .mask, .mainNew:hover .mask {
    display: block;
    opacity: 1;
}

.smallPic .mask::after {
    top: 43%;
    left: 40%;
    height: 18%;
    width: 25%;
}

.bigText {
    width: 100%;
    height: 125px;
    color: #2A2D32
}

.bigText h4 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    margin: 30px 0 20px 0;
}

.bigText p {
    font-size: 20px;
    line-height: 1.5;
    margin: 4px 0;
    height: 60px;
    overflow: hidden;
}

.bigText small {
    font-size: 18px;
    color: #959595;
    display: block;
}

.smallPic {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 160px;
    height: 100%;
}

.smallText {
    width: calc(100% - 160px);
    height: 100%;
    color: #2A2D32;
}

.smallText h4 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin: 8px 0 8px 15px; 
}

.smallText p {
    font-size: 16px;
    line-height: 1.3;
    margin: 4px 0 4px 15px;
    max-height: 60px;
    overflow: hidden;
}

.smallText small {
    font-size: 14px;
    color: #959595;
    display: block;
    margin-left: 15px;
}

.new {
    width: calc(100% - 20px);
    height: 120px;
    display: flex;
    margin: 10px 0 10px 20px;
    flex-flow: row;
    overflow: hidden;
}

.infoBox {
    height: 340px;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
}

.benefits {
    padding: 50px 0;
    justify-content: space-between;
    align-items: baseline;
}

.benefit {
    height: 100%;
    width: auto;
    margin: 0;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.longBlock {
    height: 100%;
    width: 750px;
    box-shadow: 0 2px 8px rgba(120,120,120,.3);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: baseline;
    padding: 20px 80px;
    box-sizing: border-box;
    overflow: hidden;
    color: #2a2d32;
}

.longBlock h4 {
    font-size: 30px;
    font-weight: bold;
    margin: 15px 0 10px 0;
}

.longBlock p {
    font-size: 18px;
    margin: 10px 0 15px 0;
    font-weight: 300;
}

.longBlock button {
    margin-bottom: 15px;
    margin-top: 15px;
}

.shortBlock {
    height: 100%;
    width: 360px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: baseline;
    padding: 20px 25px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.shortBlock h4 {
    font-size: 30px;
    font-weight: bold;
    margin: 15px 0 10px 0;
}

.shortBlock p {
    font-size: 18px;
    margin: 10px 0 15px 0;
    font-weight: 300;
}

.shortBlock button {
    margin-bottom: 15px;
    margin-top: 15px;
}

.shortBlock h5 {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-flow: column;
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
}

.shortBlock h5 b { font-weight: 700; }

.advert .longBlock { width: 660px; }

.advert .shortBlock { width: 460px;}


.buttonsBox {
    display: flex;
    justify-content: space-between;
}

.buttonsBox .blueButton {
    margin-left: 20px;
}

.round {
    height: 132px;
    width: 132px;
    border-radius: 50%;
    background-size: 40%;
    background-position: center center;
    background-repeat: no-repeat;
} 

.bIcon1 { background-image: url(/web/uploads/images/icon1.png); }
.bIcon2 { background-image: url(/web/uploads/images/icon2.png); }
.bIcon3 { background-image: url(/web/uploads/images/icon3.png); }
.bIcon4 { background-image: url(/web/uploads/images/icon4.png); }


.benefit h3{
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    margin: 25px auto 5px auto;
}

.benefit span {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.2;
    margin: 5px auto;
}

/* Inside */

.breadcrumbs {
    display: block;
    margin: 35px 0 20px 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
}

.breadcrumbs a {
    text-decoration: none;
}

.pageBody {
    flex-flow: row wrap;
    padding-bottom: 50px;
}

.pageTitle {
    font-size: 46px;
    font-weight: bold;
    width: 100%;
    margin: 10px 0 20px 0;
}

.contacts {
    display: flex;
}

.contactBox {
    width: 360px;
    margin: 10px 41px 10px 0;
    display: block;
}

.contactBox span {
    display: flex;
    width: 100%;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.contactBox p {
    display: inline;
    margin: 0;
    width: auto;
}

.conactIcon {
    width: 18px;
    height: 18px;
    display: inline-flex;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 0 16px auto 0;
    padding: 5px;
}

.cIcon1 { background-image: url(../web/img/icon1.png); background-size: 50%; }
.cIcon2 { background-image: url(../web/img/icon2.png); }
.cIcon3 { background-image: url(../web/img/icon3.png); }
.cIcon4 { 
    background-image: url(../web/img/icon4.png);
    border-radius: 0;
    background-size: auto;
}

.yaMap {
    margin: 30px 0;
    height: 450px;
    width: 100%;
    background-image: url(../web/img/yamap.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1140px) {
    
    .container { width: 100%;}

    .topBlock { flex-flow: wrap; }
    .lang { margin: auto 0; }
    .headBlock h1 { max-width: 300px; }

    .swiperBanner { margin: auto 5%; }

    .swiperBanner h3, .swiperBanner p { width: 70%; }

    .swiper-container-horizontal>.swiper-pagination-bullets { left: 5%; }

    .swiper-button-prev { right: 12.5%; }
    .swiper-button-next { right: 5%; }

    .headNews {
        padding: 20px 5%;
        box-sizing: border-box;
    }

    .tabs {
        width: 90%;
        margin: 0 5%;
    }

    .benefit h3 { font-size: 18px; }
    .benefit span { font-size: 20px; }

    .longBlock { width: 65%; padding: 20px 5%; }
    .shortBlock { width: 35%; padding: 20px 5%; }

    .advert .longBlock { width: 60%; }
    .advert .shortBlock { width: 40%; }

}

@media screen and (max-width: 600px) {

    .container { width: 100vw;}

    .topBlock { flex-flow: row wrap; }

    .headBlock { height: auto; }

    .logo {
        display: block;
        height: 48px;
        width: 48px;
        margin: 0 15px;
    }

    .headBlock h1 {
        font-size: 16px;
        line-height: 20px;
        max-width: calc(100% - 90px);
        margin-right: auto;
        margin-left: 0;
    }
    .phone {
        font-size: 22px;
        margin: auto 15px;
    }

    .swiperBanner h3 {
        width: 90%;
        font-size: 28px;
        margin: 20px 5%;
    }

    .swiperBanner p {
        width: 90%;
        font-size: 18px;
        margin: 10px 5%;
    }

    .swiperBanner a { margin: 20px 5%; }

    .swiper-container-horizontal>.swiper-pagination-bullets { left: 20px; }

    .swiper-button-prev { right: 90px; }
    .swiper-button-next { right: 20px; }


    .redButton { padding: 6px 25px 6px 15px; }
 
    .blueButton, .whiteButton { padding: 5px 25px 5px 15px; }

    .redButton::after, .blueButton::after, .whiteButton::after  {
        width: 14px;
        height: 14px;
        top: 9px;
        right: 8px;
    }

    .redButton, .blueButton, .whiteButton { font-size: 14px; }

    .headNews {
        padding: 20px 5%;
        box-sizing: border-box;
    }

    .headNews h2 { font-size: 32px; }

    .benefits {
        padding: 25px 0;
        flex-flow: row wrap;
    }

    .benefit {
        margin: 0 5% 5% 5%;
        align-items: center;
        flex-flow: column;
    }

    .benefit h3 {
        font-size: 16px;
        margin: 25px auto 5px auto;
    }

    .benefit span {
        font-size: 16px;
        margin: 5px auto;
    }

    .round {
        height: 120px;
        width: 120px;
    }

    .tabsHead a { margin: 0 5%; }

    .newsBlock { flex-flow: column; }

    .mainNew {
        width: 90%;
        margin: 10px 5%;
    }

    .bigPic { height: 300px; }

    .bigText { height: auto; }

    .bigText h4 {
        font-size: 18px;
        margin: 20px 0;
    }

    .bigText p {
        font-size: 16px;
        height: auto;
    }

    .newsBox { width: 100%; }

    .new {
        width: 90%;
        height: 120px;
        margin: 10px 5%;
    }

    .smallPic { width: 120px; }

    .smallText { width: calc(100% - 120px); }

    .smallText h4 { font-size: 16px; }

    .smallText p {
        font-size: 12px;
        max-height: 44px;
    }

    .infoBox {
        height: auto;
        margin: 20px auto;
        flex-flow: column;
    }

    .longBlock {
        width: 100%;
        padding: 20px 5%;
        margin: 20px 0;
        box-shadow: none;
    }

    .longBlock h4, .shortBlock h4 {
        font-size: 24px;
        margin: 10px 0;
    }

    .longBlock p, .shortBlock p {
        font-size: 16px;
        margin: 10px 0;
    }

    .shortBlock {
        width: 100%;
        padding: 20px 25px;
        margin: 20px 0;
    }

    .advert .shortBlock {
        width: 100%;
        height: 300px;
    }   

    .advert .longBlock { width: 100%; }

    footer { background: linear-gradient(to bottom, #7b7b7b 50%, #3b3b3b 50%); }

    footer .container { flex-flow: column; }

    .half {
         width: 100%;
        padding: 25px 0;
    }

    .half h2 {
        font-size: 16px;
        line-height: 20px;
        max-width: calc(100% - 90px);
        margin-right: auto;
        margin-left: 0;
        width: 100%;
    }

    .half p {
        font-size: 14px;
        width: 90%;
        margin: 30px 5% 0 5%;
    }

    .bottomList {
        margin: 20px 0;
        background: #3b3b3b;
        padding: 5% 15%;
    }

    .bottomBlock {
        height: auto;
        padding: 20px 0;
    }

    .bottomBox a { margin: 15px 0; }

    .contacts { flex-flow: column; }

    .contactBox { width: 85%;  margin: 10px auto 10px 0; }

}