body {
    margin: 0;
    padding: 0;
    color: #373A55;
    font-family: 'Open Sans', sans-serif;
}

a, button {
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

input { outline: none; }

.white { color: #FFFFFF; }
.blue { color: #293b85; }
.red { color: #C03018; }
.backBlue {  background-color: #293b85; }
.backRed { background-color: #C03018; }

.error { border-color: #C03018; }

.container {
    width: 1140px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.headBlock {
    height: 194px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.headBlock h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    max-width: 400px;
    margin-right: 9.5%;
    margin-left: 20px;
    text-transform: uppercase;
}

.topBlock {
    margin: auto auto 0 auto;
}

.logo {
    display: block;
    height: 66px;
    width: 66px;
    background: url(/web/img/logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.phone {
    display: flex;
    flex-flow: column;
    font-size: 28px;
    font-weight: 600;
    padding-right: 26px;
    position: relative;
    margin: auto 3.5% auto 0;
}

.phone small {
    font-size: 16px;
    font-weight: 300;
    text-align: right;
}

.phone:before {
    position: absolute;
    content: "";
    background-color: #c03018;
    background-image: url(/web/img/phone.png);
    background-repeat: no-repeat;
    background-position: 55% 40%;
    background-size: 22px 26px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    left: -56px;
}

.lang {
    display: flex;
    margin: auto auto auto 0;
}

.lang span {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 4px;
    cursor: pointer;
}

.scBlock {
    display: flex;
}

.scBlock span {
    height: 34px;
    width: 34px;
    background-repeat: no-repeat;
    display: block;
    margin: auto 0 auto 30px;
}

span.search {
    background-image: url(/web/img/search.png);
    background-size: contain;
}

span.cabinet {
    border-radius: 50%;
    background-image: url(/web/img/person.png);
    background-size: 45%;
    background-position: center;
}

.navigationInMobile { display: none; }

.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    height: 72px;
    margin: auto 0 0 0;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    /*position: relative;*/
    width: 100%;
}

.navigation li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74px;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
}

nav.navigation a:hover {
    color: #3bc0fe;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    background-color: transparent;
}
  
.dropdown {
    /*position: relative;*/
    display: inline-block;
    padding: 12px 6px;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 72px;
    margin: 0;  
}
  
.dropdown-content a {
    color: #FFFFFF;
    padding: 12px 2.5% 12px 0;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: transparent;}
  
.dropdown:hover .dropdown-content {    
      display: block;
      width: 100%;
      position: absolute;
      z-index: 2;
      left: 0;
      margin-top: 10px;
}

.dropdown:hover .dropbtn { background-color: transparent;}

banner {
    height: 680px;
    width: 100%;
    display: block;
    background: #FFFFFF;
}

.swiperBanner {
    flex-flow: column;
    text-align: left;
    justify-content: center;
    align-items: baseline;
}

.swiperBanner h3 {
    width: 50%;
    font-size: 33px;
    color: #293b85;
    font-weight: bold;
    line-height: 1.212;
    margin: 20px 0;
}

.swiperBanner p {
    width: 50%;
    font-size: 20px;
    color: #2a2d32;
    line-height: 1.5;
    margin: 10px 0;
}

.swiperBanner a {
    margin-top: 30px;
}

.swiperBox {
    position: relative;
}

.swiper-button-next, .swiper-button-prev {
    background-image: url(/web/img/chevronGrey.svg);
    width: 35px;
    height: 35px;
    background-color: transparent;
    left: auto;
    right: calc(50% - 570px);
    bottom: 20px;
    top: auto;
    border: 3px solid #D5D5D5;
    transition: all 0.3s;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    background-image: url(/web/img/chevron.svg);
    border: 3px solid #ff0000;
    background-color: #ff0000;
}

.swiper-button-prev {
    right: calc(50% - 500px);
    transform: scale(-1, 1);
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 20px;
    left: calc(50% - 570px);
    width: 100%;
    text-align: left;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 0;
    background: #d5d5d5;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: transparent;
    border: 4px solid #d5d5d5;
    height: 10px;
    width: 10px;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0 auto;
    font-size: 18px;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}



footer {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #7b7b7b 50%, #3b3b3b 50%);
}

.half {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 44px 0;
}

.half h2 {
    display: inline-block;
    width: 60%;
    margin: 0 auto 0 20px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.half p {
    font-size: 14px;
    font-weight: bold;
    word-break: break-word;
    width: 80%;
    margin: 30px 0 0 0;
}

.bottomList {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    margin-left: 60px;
}

.bottomList li {
    margin: 10px 0;
    font-size: 17px;
    width: auto;
    min-width: 45%;
    list-style: none;
    display: block;
}
.bottomList li::before {
    content: "\2022";
    color: #3075b6;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.bottomList a {
    text-decoration: none;
    color: #FFFFFF;
}

.bottomBlock {
    background: #212327;
    height: 60px;
    width: 100%;
    align-items: center;
    display: flex;
}

.bottomBox {
    display: flex;
    justify-content: space-between;
}

.bottomBox a {
    display: block;
    margin: auto 0;
    width: auto;
    color: #6d6d6d;
    font-size: 14px;
}

.studio {
    background-image: url(/web/img/foxis.png);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    width: 66px;
    height: 24px;
    display: inline-block;
    margin-left: 6px;
}


/* ************* 
// Main Page //
************ */


.greyBack {
    background: #F8F8F8;
    width: 100%;
    height: auto;
    padding: 40px 0;
}

.whiteBack {
    background: #FFFFFF;
    width: 100%;
    height: auto;
}

.headNews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.headNews h2 {
    display: block;
    margin: 0;
    font-weight: 500;
    width: auto;
    font-size: 46px;
}

.redButton, .blueButton, .whiteButton, .uniButton {
    position: relative;
    border: 0;
    outline: 0;
    text-decoration: none;
    line-height: 20px;
    font-size: 18px;
}

.redButton::after, .blueButton::after, .whiteButton::after, .uniButton::after {
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: auto;
    right: 12px;
}

.uniButton {
    text-transform: uppercase;
    padding: 13px 35px 13px 25px;
}

.redButton {
    text-transform: uppercase;
    padding: 13px 35px 13px 25px;
    background-color: #C03018;
    color: #FFFFFF;
}

.redButton:after, .uniButton::after {
    background-image: url(/web/img/chevron.svg);
    width: 16px;
    height: 16px;
    top: 14px;
}

.blueButton {
    padding: 11px 33px 11px 23px;
    border: 2px solid #293b85;
    background-color: transparent;
    color: #293b85;
}

.blueButton:after {
    background-image: url(/web/img/chevronBlue.svg);
    width: 14px;
    height: 14px;
    top: 15px;
}

.whiteButton {
    padding: 11px 33px 11px 23px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
}

.whiteButton:after {
    background-image: url(/web/img/chevron.svg);
    width: 14px;
    height: 14px;
    top: 15px;
}

.tabs {
    height: auto;
    min-height: 560px;
    flex-flow: column;
    position: relative;
}

.tabsHead {
    display: flex;
    width: 100%;
    margin: 0 0 auto 0;
    padding: 10px 0 20px 0;
}

.tabsHead a {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-right: 45px;
}

.tabsHead a:hover {
    color: #C03018;
}

.newsBlock {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 0;
    margin: 0;
    padding: 0;
    flex-flow: row;
    background: #F8F8F8;
}

.tabs .newsBlock:first-child {
    z-index: 1;
}

.tabs .newsBlock:target {
    color: #C03018;
    z-index: 2;
}

.mainNew {
    width: 50%;
    height: 100%;
    display: block;
    margin: 10px 20px 10px 0;
}

.newsBox {
    width: 50%;
}

.bigPic {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 360px;
}

.mask {
    width: 100%;
    height: 100%;
    background-image: url(/web/uploads/images/mask.png);
    background-size: cover;
    background-position: center center;
    position: relative;
    opacity: 0;
    outline: none;
    transition: all 0.2s;
}

.mask::after {
    content: "";
    background-image: url(/web/uploads/images/eye.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 46%;
    left: 47.5%;
    z-index: 2;
    height: 8%;
    width: 10%;
}

.new:hover .mask, .mainNew:hover .mask {
    display: block;
    opacity: 1;
}

.smallPic .mask::after {
    top: 43%;
    left: 40%;
    height: 18%;
    width: 25%;
}

.bigText {
    width: 100%;
    height: 125px;
    color: #2A2D32
}

.bigText h4 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    margin: 30px 0 20px 0;
}

.bigText p {
    font-size: 20px;
    line-height: 1.5;
    margin: 4px 0;
    height: 60px;
    overflow: hidden;
}

.bigText small {
    font-size: 18px;
    color: #959595;
    display: block;
}

.smallPic {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 160px;
    height: 100%;
}

.smallText {
    width: calc(100% - 160px);
    height: 100%;
    color: #2A2D32;
}

.smallText h4 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin: 8px 0 8px 15px;
}

.smallText p {
    font-size: 16px;
    line-height: 1.3;
    margin: 4px 0 4px 15px;
    max-height: 60px;
    overflow: hidden;
}

.smallText small {
    font-size: 14px;
    color: #959595;
    display: block;
    margin-left: 15px;
}

.new {
    width: calc(100% - 20px);
    height: 120px;
    display: flex;
    margin: 10px 0 10px 20px;
    flex-flow: row;
    overflow: hidden;
}

.infoBox {
    height: 340px;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
}

.benefits {
    padding: 50px 0;
    justify-content: space-between;
    align-items: baseline;
}

.benefit {
    height: 100%;
    width: auto;
    margin: 0;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.longBlock {
    height: 100%;
    width: 750px;
    box-shadow: 0 2px 8px rgba(120,120,120,.3);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: baseline;
    padding: 20px 80px;
    box-sizing: border-box;
    overflow: hidden;
    color: #2a2d32;
}

.longBlock h4 {
    font-size: 30px;
    font-weight: bold;
    margin: 15px 0 10px 0;
}

.longBlock p {
    font-size: 18px;
    margin: 10px 0 15px 0;
    font-weight: 300;
}

.longBlock button {
    margin-bottom: 15px;
    margin-top: 15px;
}

.shortBlock {
    height: 100%;
    width: 360px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: baseline;
    padding: 20px 25px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.shortBlock h4 {
    font-size: 30px;
    font-weight: bold;
    margin: 15px 0 10px 0;
}

.shortBlock p {
    font-size: 18px;
    margin: 10px 0 15px 0;
    font-weight: 300;
}

.shortBlock button {
    margin-bottom: 15px;
    margin-top: 15px;
}

.shortBlock h5 {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-flow: column;
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
}

.shortBlock h5 b { font-weight: 700; }

.advert .longBlock { width: 660px; }

.advert .shortBlock { width: 460px;}


.buttonsBox {
    display: flex;
    justify-content: space-between;
}

.buttonsBox .blueButton {
    margin-left: 20px;
}

.round {
    height: 132px;
    width: 132px;
    border-radius: 50%;
    background-size: 40%;
    background-position: center center;
    background-repeat: no-repeat;
}

.bIcon1 { background-image: url(/web/uploads/images/icon1.png); }
.bIcon2 { background-image: url(/web/uploads/images/icon2.png); }
.bIcon3 { background-image: url(/web/uploads/images/icon3.png); }
.bIcon4 { background-image: url(/web/uploads/images/icon4.png); }


.benefit h3{
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    margin: 25px auto 5px auto;
}

.benefit span {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.2;
    margin: 5px auto;
}

/* Inside */

.breadcrumbs {
    display: block;
    margin: 35px 0 20px 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
}

.breadcrumbs a {
    text-decoration: none;
}

.pageBody {
    flex-flow: row wrap;
    padding-bottom: 50px;
}

.pageTitle {
    font-size: 46px;
    font-weight: bold;
    width: 100%;
    margin: 10px 0 20px 0;
}

.pageText {
    width: 78%;
}

.pageText p {
    font-size: 20px;
    line-height: 1.5; 
}

.contacts {
    display: flex;
}

.contactBox {
    width: 360px;
    margin: 10px 41px 10px 0;
    display: block;
}

.contactBox span {
    display: flex;
    width: 100%;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.contactBox p {
    display: inline;
    margin: 0;
    width: auto;
}

.conactIcon {
    width: 18px;
    height: 18px;
    display: inline-flex;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 0 16px auto 0;
    padding: 5px;
}

.cIcon1 { background-image: url(../web/img/icon1.png); background-size: 50%; }
.cIcon2 { background-image: url(../web/img/icon2.png); }
.cIcon3 { background-image: url(../web/img/icon3.png); }
.cIcon4 {
    background-image: url(../web/img/icon4.png);
    border-radius: 0;
    background-size: auto;
}

.yaMap {
    margin: 30px 0;
    height: 450px;
    width: 100%;
    background-image: url(../web/img/yamap.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Faq */

.answerBlock p {
    display: block;
    margin: 10px 40% 10px 0;
}

.answerBox {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.accordion {
    margin: 2em 0;
    max-width: 45%;
}

.toggle {
    display: none;
}

.option {
    position: relative;
    margin-bottom: 1em;
}

.title, .content {
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.2s;
}

.title {
    background: transparent;
    padding: 1em 3em 1em 0;
    margin-top: 2em;
    display: block;
    font-weight: bold;
    border-bottom: 1px solid #b8b8b8;
}

.option span {
    height: 1.25em;
    width: 1.25em;
    border-radius: 50%;
    content: '';
    position: absolute;
    right: 0.65em;
    top: 1em;
}

.title:after, .title:before {
    content: '';
    position: absolute;
    right: 1.25em;
    top: 1.25em;
    width: 2px;
    height: 0.75em;
    background-color: #FFFFFF;
    transition: all 0.2s;
}
.title:after {
    transform: rotate(90deg);
}

.content {
    max-height: 0;
    overflow: hidden;
    background-color: transparent;
}
.content p {
    margin: 0;
    padding: 0.5em 1em 1em;
    font-size: 0.9em;
    line-height: 1.5;
}

.toggle:checked+ .title + .content {
    max-height: 500px;
}
.toggle:checked + .title:before {
    transform: rotate(90deg) !important;
}

/* Base */

.baseBanner {
    width: 100%;
    position: relative;
}

.swiperBase {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.swiperBase div {
    width: 215px;
    height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    margin: 10px 0;
    transition: all .3s;
}

.swiperBase div:hover,
.fullWidthBanner:hover {
    background: #293b85;
    color: #FFFFFF;
}
.swiperBase div:hover p,
.fullWidthBanner:hover p {
    color: #FFFFFF;
}

.pageBody .swiper-button-next,
.pageBody .swiper-button-prev {
    position: absolute;
    top: -50px;
    outline: none;
}
.pageBody .swiper-button-prev { right: 60px; }
.pageBody .swiper-button-next { right: 0; }

.fullWidthBanner {
    width: 100%;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    margin: 10px 0 100px 0;
    color: #FFFFFF;
}

.fullWidthBanner p,
.swiperBase p {
    width: 80%;
    text-align: center;
    font-size: 18px;
    color: #293b85;
}

.statements {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.statementsTitle {
    font-size: 30px;
    margin: 10px 0;
    padding: 5px 0;
}

.statementsBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.statementsBox div {
    width: 45%;
}

.statementsBox h3 {
    font-size: 22px;
    color: rgb(132, 132, 132);
}

.statements a {
    font-size: 16px;
    color: #263678;
}

.statements ul {
    list-style: none;
    padding-inline-start: 20px;
}

.statements ul li {
    padding: 10px 0;
}

.statements ul li::before {
    content: "\2022";
    color: #3075b6;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 20px;
}

.subtitle {
    font-size: 24px;
    color: #263678;
    font-weight: bold;
    width: 65%;
}

.statementsBlock p, .statementsBlock a {
    font-size: 18px;
    line-height: 1.6;
    padding: 5px 0;
}

.statements button.uniButton {
    color: #FFFFFF;
    text-transform: unset;
    width: 100%;
}

.statements button.uniButton::after {
    top: 15px;
    right: auto;
    margin-left: 10px;
}

/* join */


.pageBody .infoBox {
    margin: 80px 0;
    width: 100%;
}

.gridBox {
    display: grid;
    grid-template-areas:
            "block1 block1"
            "block2 block3"
            "block4 block4";
    grid-template-rows: 640px 340px auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    height: auto;
    margin: 0;
    width: 100%;
}

.gridBox section {}


.block1 {
    grid-area: block1;
    column-count: 2;
    column-gap: 5em;
    font-size: 20px;
    position: relative;
    padding-top: 60px;
}

.block1 p {
    word-break: break-word;
    page-break-inside: avoid;
    break-inside: avoid;
    float: none;
    display: block;
    margin: 20px 0;
    padding: 5px 0;
    font-size: 20px;
}

.block1 .align {
    padding-top: 25px;
}

.block1 h2 {
    top: 0;
    position: absolute;
    font-size: 30px;
    margin: 10px 0 20px 0;
}

.block2 { grid-area: block2; }
.block3 { grid-area: block3; }
.block4 { grid-area: block4; }

.block2, .block3 {
    background-color: #f4f4f4;
    box-shadow: 0 2px 8px rgba(120,120,120,.3);
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: baseline;
    padding: 20px 40px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.block2 h4, .block3 h4 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.1;
    margin: 10px 0;
}

.block2 p, .block3 p {
    font-size: 18px;
    margin: 10px 0 20px 0;
}

.block4 {
    grid-area: block4;
    column-count: 2;
    column-gap: 5em;
    font-size: 20px;
    position: relative;
    padding-top: 110px;
}

.block4 h4 {
    top: 0;
    position: absolute;
    font-size: 30px;
    margin: 10px 0 20px 0;
    width: 50%;
}

.block4 ol, .newsGrid ol {
    float: left;
    display: block;
    margin: -25px 0 20px 0;
    padding: 5px 0;
    font-size: 20px;
    position: relative;
}

.block4 ol li, .newsGrid ol li {
    font-size: 20px;
}

.block4 ol, .newsGrid ol {
    list-style: none;
    counter-reset: li;
}

.block4 li, .newsGrid li {
    counter-increment: li;
    position: relative;
    margin: 20px 20px;
    margin-left: 60px;
    font-size: 20px;
    padding: 10px 0;
}

.block4  li::before, .newsGrid li::before {content: counter(li); color: #FFFFFF;
    display: inline-block; width: 1em;
    margin-left: -1em}

.block4  ol li::before, .newsGrid ol li::before {
    content: counter(li);
    background-color: #293b85;
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: -60px;
    text-align: center;
    direction: rtl;
    font-size: 24px;
    padding: 6px 7px 8px 7px;
    position: absolute;
}

.block4 ol button {
    margin: 40px 0 20px auto;
    display: block;
}

/* About */

.about {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.aboutHalf {
    width: 560px;
}

.aboutHalf .newsBox {
    width: 100%;
}

.aboutHalf .redButton {
    margin: 10px 0 20px auto;
    display: block;
}

.aboutHalf h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0 20px 0;
    line-height: 1;
}

.aboutText {
    font-size: 20px;
}

.aboutBox {
    width: 100%;
    box-sizing: border-box;
    padding: 25px 75px;
    margin: 40px 0;
}

.aboutBox p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
}

.aboutBox i {
    font-size: 20px;
    line-height: 1.6;
    font-weight: 300;
}

.aboutBottom {
    column-count: 2;
    column-gap: 4em;
    display: block;
}

.aboutBottom p {
    word-break: break-word;
    page-break-inside: avoid;
    break-inside: avoid;
    font-size: 20px;
    line-height: 1.5;
}

.aboutBottom .align {
    padding-top: 20px;
}

/* Partners */

.partnerBox {
    display: block;
    width: 45%;
    flex-flow: column;
    margin: 0 0 auto 0;
}

.partnerBox h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 25px 0 5px 0;
}
.partnerBox ul {
    padding-left: 20px;
    list-style: none;
    margin: 5px 0;
}
.partnerBox ul li::before {
    content: "\2022";
    color: #293b85;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.partnerBox a  {
    font-size: 20px;
    color: #293b85;
}

/* Experts */

.expertsText {
    width: 75%;
    font-size: 20px;
    line-height: 1.5;
}

/* Training */

.trainingBlock {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    box-sizing: border-box;
}

.trainingBlock .shortBlock {
    margin: 10px 0;
}

.trainingBox { display: flex; justify-content: space-between; }
.trainingBox div {  width: 45%; }
.trainingBox span {  display: block;  margin: 20px 0; }
.trainingBox p, .trainingBox strong {  display: inline; }

.trainingText { width: 60%; }

.trainingText p {     
    font-size: 20px;
    line-height: 1.5;
    padding: 10px 0;
    margin: 0; 
}

/* Exams */


.examsText {
    width: 75%;
    margin: 20px 0;
}

.examsText p, .examsText ul li {
  font-size: 20px;
  line-height: 1.5;
}

.examsBox {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 404px;
    padding: 60px 80px;
    box-sizing: border-box;
    background: #f4f4f4;
    box-shadow: 0 2px 8px rgba(120,120,120,.3);
}

.examsBox h3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 auto 0;
}

.examsBox p i {
    font-size: 20px;
}

.examsBox p {
    padding: 0;
    margin: 2px 0;
    font-size: 18px;
    line-height: 1.2;
}

.examsBox button {
    width: fit-content;
    margin: auto 0 0 0;
}

/* Register */

.registerBox {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    height: auto;
    padding: 60px;
    box-sizing: border-box;
    background: #f4f4f4;
    box-shadow: 0 2px 8px rgba(120,120,120,.3);
}

.registerBox form {
    display: flex;
    flex-flow: column;
    margin: 20px 0;
}

.registerBox h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.6;
    margin: 10px 0;
}

.registerBox span {
  font-size: 18px;
  line-height: 1.333;
}

.formBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    align-items: center;
}

.formBox b {
    display: block;
    width: 20%;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
}

.formBox input {
    width: 78%;
    padding: 7px 10px;
    font-size: 18px;
    line-height: 1.667;
    color: #2a2d32;
}

.formBox input::placeholder {
    color: #2a2d32;
}

.formBox select{
    width: 65%;
    padding: 8px 10px;
    font-size: 18px;
    line-height: 1.667;
    color: #2a2d32;
    border-radius: 0;
    background-image: url(/web/img/arrowDown.svg);
    background-repeat: no-repeat;
    background-position: 98% 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.formBox button {
    margin: auto 0 auto auto;
}

.pageSubtitle {
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
}

.registerTable {
    width: 100%;
    border: 0;
    border-collapse: collapse;
}

.registerTable th {
    background-color: #f4f4f4;
    text-align: left;
    font-weight: 500;
    padding: 20px 10px;
}

.registerTable td {
    padding: 15px 10px;  
}

.ball {
    position: relative;
    padding-left: 1em;
}

.ball:before{
  content: "\2022"; 
  color: #3075b6; 
  font-weight: bold; 
  display: inline-block; 
  width: 1em;
  margin-left: -1em; 
  position: absolute;
}

.green {
    color: #4c9c5a;
}

.fullWidthButton {
    width: 100%;
    margin: 40px 0;
}

.fullWidthButton button.uniButton {
    text-transform: unset;
    width: 100%;
}

.fullWidthButton button.uniButton::after {
    top: 15px;
    right: auto;
    margin-left: 10px;
}


/* News */

.pagination {
    display: flex;
    margin: 20px auto;
    width: 200px;
}

.pagination li {
    list-style: none;
    padding: 10px;
}

.newsPageBlock {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-flow: row wrap;
}

.newsPageBlock div {
    width: 50%;
}

.newsPageBlock p {
    font-size: 20px;
    line-height: 1.5;
    margin: 10px 0;
}

.newsPageBlock h2 {
  font-size: 30px;
  line-height: 1;
  width: 100%;
  margin: 10px 0;
}

.newsPageBlock h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  width: 100%;
  margin: 10px 0;
}

.newsImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 0;
}

.mediumNewsBlock {
    width: 48%!important;
}

.newsGrid {
    column-count: 2;
    column-gap: 5em;
    font-size: 20px;
    position: relative;
}

/* Reg */

.regPage .subtitle {
    width: 100%;
}

.regForm {
    margin: 40px 0;
    display: flex;
    flex-flow: column;
    align-items: baseline;
}

.regForm div {
    margin: 10px 0;
    display: flex;
    width: 60%;
}

.regForm div span {
    width: 50%;
    font-size: 24px;
    color: rgb(42, 45, 50);
    line-height: 1.25;
    display: flex;
    align-items: center;
    font-weight: 300;
}

.regForm div input {
    padding: 5px 15px;
    font-size: 24px;
    font-weight: 300;
    color: rgb(42, 45, 50);
    line-height: 1.25;
}


.regForm .checkContainer {
    width: 100%;
}

.regForm div .checkBox {
    display: block;
    margin: auto 10px;
}

.regForm div .checkText {
    width: 100%;
    margin: 40px 0;
    font-size: 18px;
    color: rgb(139, 139, 139);
    line-height: 1.333;
}

.regForm div .round {
    position: relative;
    width: 20px;
    display: block;
    margin: auto 10px;
    height: 20px;
}

.round label {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 16px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 2px;
    opacity: 0;
    position: absolute;
    top: 2px;
    transform: rotate(-45deg);
    width: 10px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

/* News */

.pageBody .newsBlock {
    background: transparent;
}

.pageBody .tabs {
    min-height: 600px;
}

.moreNewsBlock {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 20px 0;;
}

.moreNewsBlock .uniButton {
    color: #FFFFFF;
    text-transform: unset;
    width: 100%;
    margin: 20px 0;
}

.moreNewsBlock button.uniButton::after {
    top: 15px;
    right: auto;
    margin-left: 10px;
}

.mNew {
    display: block;
    width: 360px;
    margin: 20px 0;
}

.mTitle {
    display: block;
    font-size: 30px;
    line-height: 1;
    width: 100%;
    margin: 20px 0;
}

.mNew .bigPic {
    height: 225px;
}

.mNew .bigText h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    margin: 10px 0;
}

.mNew .bigText p {
    font-size: 16px;
    line-height: 1.4;
    height: 65px;
}

/* LK */

.lkTabs {
    display: flex;
    flex-flow: column;
}

.lkTabsHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.lkTab {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.333;
}

.lkTab:hover, .active {
    color: rgb(192, 48, 24);
} 

.lkTabsBody {
    width: 100%;
    margin: 30px auto;
}

.calendar {
    position: relative;
}

.calendar::after {
    content: "";
    background-image: url(/web/img/calendar.svg);
    background-size: 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.editMainData {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.personData {
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.personData h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
}

.personData div { 
    margin: 15px 0;
}

.personData span {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.25;
}

.personData input {
    font-size: 22px;
    font-weight: 300;
    line-height: 1;
}

.personData .blueButton {
    margin: 20px 0;
}

.edited {
    position: relative;
    margin: 10px 0;
    font-size: 30px;
    line-height: 1;
}

.edited:after {
    position: absolute;
    content: "";
    background-image: url(/web/img/pencil.svg);
    background-size: 24px;
    width: 24px;
    height: 24px;
    display: block;
    cursor: pointer;
    top: 2px;
    right: -36px;
}

.lkReports {
    margin: 40px 0;
}

.reportTitle {
    display: flex;
    font-size: 28px;
    color: rgb(42, 45, 50);
    font-weight: bold;
    line-height: 1.071;
    align-items: center;
}

.reportTitle input {
    margin: auto 20px;
    font-size: 24px;
    width: 150px;
    padding: 0 15px;
}

.reportTitle .calendar::after {
    background-size: 18px;
    width: 18px;
    height: 18px;
    right: 30px;
    top: 8px;
}

.reportBody {
    display: flex;
    flex-flow: column;
    margin: 20px 0;
}

.reportBody span {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 24px; 
    font-weight: 300;
    color: rgb(131, 131, 131); 
    line-height: 2; 
}

.paymentBlock {
    display: flex;
    flex-flow: column;
    align-items: baseline;
}

.paymentBlock h3 {
    font-size: 24px;
    margin: 5px 0;
    font-weight: 600;
}

.paymentBlock h3.red { font-size: 28px; }
.paymentBlock button { margin: 20px 0; }

.reportingBlock h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.6;
    margin: 15px 0;
}

.reportingBlock span {
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
    display: block;
    margin: 15px 0;
}

.reportingBlock span i { font-style: normal; }

.reportingBlock .success, .reportingBlock .warning {
    position: relative;
    padding-left: 48px;
}
.reportingBlock .success {
    position: relative;
    color: #0c9222;
}

.reportingBlock .success::before, .reportingBlock .warning::before {
    position: absolute;
    content: "";
    background-size: 38px;
    background-position: center;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    left: 0;
    top: 4px;
}

.reportingBlock .warning i { color: #c03018; }

.reportingBlock .success::before { background-image: url(/web/img/success.svg); }
.reportingBlock .warning::before { background-image: url(/web/img/warning.svg); }

.reportingPagination {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.reportingPagination .before, .reportingPagination  .after {
    display: block;
    position: relative;
    padding: 0 30px;
    font-size: 24px;
    color: rgb(41, 59, 133);
    line-height: 2;
    cursor: pointer;
}

.reportingPagination .before:hover, .reportingPagination  .after:hover {
    opacity: 1;
}

.reportingPagination .after {
    opacity: 0.6;
}

.before::before, .after::after {
    position: absolute;
    content: "";
    background-image: url(/web/img/chevronBlue.svg);
    width: 18px;
    height: 18px;
    display: block;
    background-size: 18px;
    transform: rotate(180deg);
    top: 15px;
    left: 0;
}

.after::after {
    transform: rotate(0deg);
    right: 0;
    left: auto;
}


@media screen and (max-width: 1140px) {

    .container { width: 100%;}
    .navigationInMobile { display: none; }
    .topBlock { flex-flow: wrap; }
    .lang { margin: auto 0; }
    .headBlock h1 { max-width: 300px; }

    .swiperBanner { margin: auto 5%; }

    .swiperBanner h3, .swiperBanner p { width: 70%; }

    .swiper-container-horizontal>.swiper-pagination-bullets { left: 5%; }

    .swiper-button-prev { right: 12.5%; }
    .swiper-button-next { right: 5%; }

    .headNews {
        padding: 20px 5%;
        box-sizing: border-box;
    }

    .tabs {
        width: 90%;
        margin: 0 5%;
    }

    .benefit h3 { font-size: 18px; }
    .benefit span { font-size: 20px; }

    .longBlock { width: 65%; padding: 20px 5%; }
    .shortBlock { width: 35%; padding: 20px 5%; }

    .advert .longBlock { width: 60%; }
    .advert .shortBlock { width: 40%; }

}

@media screen and (max-width: 600px) {

    .container { width: 100vw;}

    .topBlock { flex-flow: row wrap; }

    .headBlock { height: auto; }

    .logo {
        display: block;
        height: 48px;
        width: 48px;
        margin: 0 15px;
    }

    .headBlock h1 {
        font-size: 16px;
        line-height: 20px;
        max-width: calc(100% - 90px);
        margin-right: auto;
        margin-left: 0;
    }

    .navigationInMobile {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        margin: auto 0 0 0; 
        position: relative;
    }

    .OpenMenu {
        margin: 0 auto;
        padding: 10px 35%;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    } 

    .arrow_up, .arrow_down {
        background-image: url(/web/img/chevron.svg);
        background-size: 12px;
        background-position: center;
        background-repeat: no-repeat;
        height: 12px;
        width: 12px;
        display: inline-block;
        transition: all .3s;
        padding: 10px;
    }
 
    .arrow_up { transform: rotate(270deg); }

    .arrow_down { transform: rotate(90deg); }

    .ulMobile {
        position: absolute;
        top: 36px;
        width: calc(100% - 40px);
        background: #21306c;
        margin: 0;
        z-index: 2;
    }

    .ulMobile a { color: #FFFFFF; }
    
    .phone, .lang, .scBlock, .navigation { display: none; }

    .swiperBanner h3 {
        width: 90%;
        font-size: 28px;
        margin: 20px 5%;
    }

    .swiperBanner p {
        width: 90%;
        font-size: 18px;
        margin: 10px 5%;
    }

    .swiperBanner a { margin: 20px 5%; }

    .swiper-container-horizontal>.swiper-pagination-bullets { left: 20px; }

    .swiper-button-prev { right: 90px; }
    .swiper-button-next { right: 20px; }


    .redButton { padding: 6px 25px 6px 15px; }

    .blueButton, .whiteButton { padding: 5px 25px 5px 15px; }

    .redButton::after, .blueButton::after, .whiteButton::after  {
        width: 14px;
        height: 14px;
        top: 9px;
        right: 8px;
    }

    .redButton, .blueButton, .whiteButton { font-size: 14px; }

    .headNews {
        padding: 20px 5%;
        box-sizing: border-box;
    }

    .headNews h2 { font-size: 32px; }

    .benefits {
        padding: 25px 0;
        flex-flow: row wrap;
    }

    .benefit {
        margin: 0 5% 5% 5%;
        align-items: center;
        flex-flow: column;
    }

    .benefit h3 {
        font-size: 16px;
        margin: 25px auto 5px auto;
    }

    .benefit span {
        font-size: 16px;
        margin: 5px auto;
    }

    .round {
        height: 120px;
        width: 120px;
    }

    .tabsHead a { margin: 0 5%; }

    .newsBlock { flex-flow: column; position: relative; }

    .mainNew {
        width: 90%;
        margin: 10px 5%;
    }

    .bigPic { height: 300px; }

    .bigText { height: auto; }

    .bigText h4 {
        font-size: 18px;
        margin: 20px 0;
    }

    .bigText p {
        font-size: 16px;
        height: auto;
    }

    .tabs { margin: 0; }

    .newsBox { width: 100%; }

    .new {
        width: 90%;
        height: 120px;
        margin: 10px 5%;
    }

    .smallPic { width: 120px; }

    .smallText { width: calc(100% - 120px); }

    .smallText h4 { font-size: 16px; }

    .smallText p {
        font-size: 12px;
        max-height: 44px;
    }

    .infoBox {
        height: auto;
        margin: 20px auto;
        flex-flow: column;
    }

    .longBlock {
        width: 100%;
        padding: 20px 5%;
        margin: 20px 0;
        box-shadow: none;
    }

    .longBlock h4, .shortBlock h4 {
        font-size: 24px;
        margin: 10px 0;
    }

    .longBlock p, .shortBlock p {
        font-size: 16px;
        margin: 10px 0;
    }

    .shortBlock {
        width: 100%;
        padding: 20px 25px;
        margin: 20px 0;
    }

    .advert .shortBlock {
        width: 100%;
        height: 300px;
    }

    .advert .longBlock { width: 100%; }

    footer { background: #7b7b7b; }

    footer .container {  flex-flow: row wrap; justify-content: space-around; }

    .bottomBox a:nth-child(1) { order: 1; }
    .bottomBox a:nth-child(2) { order: 3; }
    .bottomBox a:nth-child(3) { order: 2; }
    .bottomBox a:nth-child(4) { order: 4; }

    .half {
        width: 100%;
        padding: 25px 0;
    }

    .half h2 {
        font-size: 16px;
        line-height: 20px;
        max-width: calc(100% - 90px);
        margin-right: auto;
        margin-left: 0;
        width: 100%;
    }

    .half p {
        font-size: 14px;
        width: 90%;
        margin: 30px 5% 0 5%;
    }

    .bottomList {
        display: none;
    }

    .bottomBlock {
        height: auto;
        padding: 20px 0;
    }

    .bottomBox a { margin: 15px 0; width: 40%; }

    .contacts { flex-flow: column; }

    .contactBox { width: 85%;  margin: 10px auto 10px 0; }

    .studio {
        width: 56px;
        height: 20px;
        margin-left: 0; 
    }

    .regPage {
        width: 90%;
        margin: 0 auto;
    }

    .regForm div {
        margin: 10px auto;
        display: flex;
        width: 100%;
        flex-flow: column;
    }

    .regForm .checkContainer {
        width: 100%;
        flex-flow: row;
    }

    .regForm div span {
        width: 100%;
        margin: 10px auto;
    }

    .regForm div .checkText {
        margin: 40px 10px;
        font-size: 14px;
    }

    .moreNewsBlock {
        width: 90%;
        margin: 20px auto;
    }

}